/bin/Debug/ConvolutionalNeuralNetwork.exe.config
/bin/Debug/.gitignore
/bin/Debug/ConvolutionalNeuralNetwork.exe
/obj/Debug/ConvolutionalNeuralNetwork.csproj.FileListAbsolute.txt
/obj/Debug/ConvolutionalNeuralNetwork.csprojAssemblyReference.cache
/obj/Debug/ConvolutionalNeuralNetwork.exe
/obj/Debug/ConvolutionalNeuralNetwork.pdb
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
